html{
    --manufacturing-color: rgba(164,219,45,0.5);
    --reaction-color: rgba(219,45,164,0.5);
    --pi-color: rgba(63,25,137,0.5);
    --MainHighlight: rgba(219,160,45);
    --MainTextColor: #E0E0E0;
    --MainBgColor: rgb(61, 58, 58);
}